@import "tailwindcss";

/* Prevent Tailwind preflight from breaking email HTML layouts */
.email-body-html img {
  display: inline !important;
}

.email-body-html a {
  text-decoration: underline;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
